.tableFixHead {
    overflow-y: auto;
    height: 100px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
}

/* Just common table stuff. Really. */

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 16px;
    border: 1px solid black;
}

th {
    background: #eee;
}

th:not(:last-child), td:not(:last-child) {
    border-right: 1px solid #000;
}

tbody tr:hover {
    cursor: pointer;
    background-color: skyblue;
}